@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: Kanit, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(180deg,
            rgba(206, 179, 24, 0.536),
            rgba(106, 4, 4, 0.584),
            rgb(0, 0, 0)),
        url(https://img.freepik.com/free-photo/old-black-background-grunge-texture-blackboard-chalkboard-concrete_1258-52289.jpg?w=2000);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.apresentacao-titulo {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-weight: 600;  
    text-shadow: 1px 1px rgb(255, 255, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
  
}

.apresentacao-imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.apresentacao-sec1-div1-subtitulo {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: rgb(232, 198, 10);
    text-shadow: 2px 2px rgb(138, 37, 6);
    margin-top: 0.5in;
    margin-bottom: 0.5in;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
}


h3 {
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 100;
    margin-top: 0.1in;
    margin-bottom: 0.5in;
    margin-left: 0.3in;
    display: block;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: aliceblue;
    margin-left: 0.3in;
    display: block;


}

footer {
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 1in;
    margin-right: 0.3in;
    margin-left: 0.3in;
    margin-bottom: 0.5in;
}

a {
    color: rgb(255, 205, 4);
    font-size: 1.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
